/*============== Font Variables =======================*/
$font-primary: 'Abel', 'sans-serif';
$font-secondary: 'Alike Angular', 'serif';

/*============== Color Variables =======================*/
$rose: #f130f4;
$wisteria: #c69dd2;
$gray: #808080;
$white: #fff;

$color-primary: $rose;
$color-primary--xlte: lighten($rose, 40%);
$color-primary--lte: lighten($rose, 35%);
$color-primary--md: lighten($rose, 15%);
$color-secondary: $gray;
$color-secondary--xlte: lighten($gray, 35%);
$color-secondary--lte: lighten($gray, 20%);
$color-secondary--md: lighten($gray, 10%);
$color-secondary--drk: darken($gray, 10%);
$color-secondary--mdrk: darken($gray, 20%);
$color-secondary--xdrk: darken($gray, 40%);
$color-complement: $wisteria;
$color-highlight: $white;

/*============== Media Queries Variables =======================*/
$bp-medium: 768px;
$bp-large: 1024px;